[Unit]
Description=Chromium Kiosk Mode
After=graphical.target ndpi-monitor.service
Wants=graphical.target

[Service]
Type=simple
User=ndpi-server
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/ndpi-server/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/chromium --kiosk --disable-infobars --disable-session-crashed-bubble --disable-component-extensions-with-background-pages --no-first-run --disable-default-apps --disable-translate --hide-scrollbars --disable-features=TranslateUI --noerrdialogs --disable-web-security --touch-events=enabled --user-data-dir=/home/ndpi-server/.config/chromium-kiosk http://localhost:3000/
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target